<div class="container">
  <p class='toptop'>Hi. This Thursday, June 12, is my birthday. I'll be 27 years old.  I'd love if you could celebrate with me.</p>

  <h4>Background</h4>
  <p>Final projects start the day prior, so I think it would be hard to pull people together for a night out.  Therefore, the plan is to celebrate in our space here at DBC.  (Also--it'll be more fun.)</p>

  <p>I bet you haven't been to a Pizza Party Birthday in a while!  I've really been digging the deep dish here in Chicago, so I'm going to order from the one I like the most--Lou Malnati's.  If you're available/interested in coming, just click through to the following page and let me know your preferences.</p>

  <h4>The Important Stuff (Logistics)</h4>
  <p>Sign up here so I know how much food to order.  I'll get one pie for every 4 people, which should be more than enough.  Because I'm not as nice as <a href='https://github.com/githop'>Tom</a>, you need to pay to play.  It should be less than $7 per person--I'll do my best to get a bunch of small bills for change.  I'll have a list--so no cheating.</p>

  <p>I'll order the food to get here around 6:30, which is when DBCx should end.  I'll try to set up near the back counches.  Any questions?--just ask.</p>

  <hr>
  <p>So... <a href='/users'>to RSVP click here.</a></p>
  <p>And... <a href='/users/all'>to see a list of people already coming and their preferences, click here.</a></p>
  <hr>

  <h4>About the app</h4>
  <p>I wanted experience building a simple Rails app this weekend.  For reasons still unclear (kidding!), last week was mostly spent on integrated testing.  This app features no testing!  Also--experience push to Heroku is always good.</p>

  <p>To answer the flood of questions before they come in: Yes, this project is open-source.  You can use it for your next pizza birthday party here--<a href='https://github.com/common-nighthawk/dd_bday'>https://github.com/common-nighthawk/dd_bday</a>.

  <h4>More</h4>
  <p>I don't know why, but 27 seems like a long way from 26.  So now, for additional reasons that are unclear, I'll tell you more about myself (with pictures)--</p>

  <p>This is what I looked like when I was little--</p>
  <img class='photo' src='http://blog.brainfacts.org/wp-content/uploads/happy-baby.jpg'>

  <p>The best job I ever had was lifeguarding--</p>
  <img class='photo' src='https://scontent-b-ord.xx.fbcdn.net/hphotos-xfa1/t1.0-9/57_518717259448_2693_n.jpg'>

  <p>This is what I looked like in college--</p>
  <img class='photo' src='https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/197_534408139647_3795_n.jpg'>

  <p>I traveled through South Americ once, in 2009--</p>
  <img class='photo' src='https://scontent-a-ord.xx.fbcdn.net/hphotos-xfa1/t1.0-9/5260_654671021867_5224843_n.jpg'>

  <p>I lived in Israel for half of 2010.  I wish I rode a camel to work each day, but I did ride one once--</p>
  <img class='photo' src='https://scontent-a-ord.xx.fbcdn.net/hphotos-xap1/t1.0-9/19360_563026917817_2270335_n.jpg'>

  <p>I can fit in spaces smaller than you'd expect--</p>
  <img class='photo' src='https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xap1/t1.0-9/17063_442152115132_3236391_n.jpg'>
  <img class='photo' src='https://scontent-a-ord.xx.fbcdn.net/hphotos-xpa1/t1.0-9/17063_442152120132_6653774_n.jpg'>

  <p>This lama is my spirit animal--</p>
  <img class='photo' src='https://scontent-b-ord.xx.fbcdn.net/hphotos-xfa1/t1.0-9/25825_1223386579821_1812089_n.jpg'>

  <p>I went to Costa Rica for a week in 2013--</p>
  <img class='photo' src='https://scontent-a-ord.xx.fbcdn.net/hphotos-xpf1/t31.0-8/906306_10152680290655133_1428407953_o.jpg'>

  <p>And Puerto Rico in 2014.  I had the best cup of coffee I've ever had there--</p>
  <img class='photo' src='https://scontent-a-ord.xx.fbcdn.net/hphotos-xfa1/t1.0-9/1525774_10153703890840133_334789292_n.jpg'>

  <p>I am often confused with this statue in Milenium Park--</p>
  <img class='photo' src='https://scontent-b-ord.xx.fbcdn.net/hphotos-xap1/t31.0-8/10293753_10154021867260133_7446501161735695056_o.jpg'>

  <p>I once rented a DIVY--</p>
  <img class='photo' src='https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpf1/t1.0-9/10289908_10154021876255133_94797058502887491_n.jpg'>

  <p>I got 99 problems, but...--</p>
  <img class='photo' src='https://scontent-a-ord.xx.fbcdn.net/hphotos-xpa1/t31.0-8/1501012_10153703890610133_483035328_o.jpg'>


  <br><br><br><br><br><br><h4>One more time...</h4>

  <p><a href='/users'>To RSVP click here.</a></p>
  <p><a href='/users/all'>To see a list of people already coming and their preferences, click here.</a></p>

</div>
