<div class="container">
  <p class='toptop'>Hi. This Thursday, June 12, is my birthday. I'll be 27 years old.  I'd love if you could celebrate with me.</p>

  <h4>Background</h4>
  <p>Final projects start the day prior, so I think it would be hard to pull people together for a night out.  Therefore, the plan is to celebrate in our space here at DBC.  (Also--it'll be more fun.)</p>

  <p>I bet you haven't been to a Pizza Party Birthday in a while!  I've really been digging the deep dish here in Chicago, so I'm going to order from the one I like the most--Lou Malnati's.  If you're available/interested in coming, just click through to the following page and let me know your preferences.</p>

  <h4>The Important Stuff (Logistics)</h4>
  <p>Sign up here so I know how much food to order.  I'll get one pie for every 4 people, which should be more than enough.  Because I'm not as nice as <a href='https://github.com/githop'>Tom</a>, you need to pay to play.  It should be less than $7 per person--I'll do my best to get a bunch of small bills for change.  I'll have a list--so no cheating.</p>

  <p>I'll order the food to get here around 6:30, which is when DBCx should end.  I'll try to set up near the back counches.  Any questions?--just ask.</p>

  <p>So... <a href='/users'>to RSVP click here.</a></p>
  <p>And... <a href='/users/all'>to see a list of people already coming and their preferences, click here.</a></p>

  <h4>About the app</h4>
  <p>I wanted experience building a simple Rails app this weekend.  For reasons still unclear (kidding!), last week was mostly spent on integrated testing.  This app features no testing!</p>

  <p>To answer the flood of questions before they come in: Yes, this project is open-source.  You can use it for your next pizza birthday party here--<a href='https://github.com/common-nighthawk/dd_bday'>https://github.com/common-nighthawk/dd_bday</a>.

  <h4>More</h4>
  <p>I don't know why, but 27 seems like a long way from 26.</p>

  <h4>One more time...</h4>

  <p><a href='/users'>To RSVP click here.</a></p>
  <p><a href='/users/all'>To see a list of people already coming and their preferences, click here.</a></p>

</div>
