<div class="container">
  <p>Full details of party here.  Written cleverly</p>
  <p>So... <a href='/users'>to RSVP click here.</a></p>
  <p>And... <a href='/users/all'>to see a list of people already coming and their preferences, click here.</a></p>
</div>
